<section id="contact">
    <div class="container">
        <div class="row">
            <div id="contactArea" class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <div class="text-left">
                    <p>For press inquiries, please contact: <a href="mailto:press@relationalitybook.org">press@relationalitybook.org</a></p>
                    <p>For speaking inquiries, please contact: <a href="mailto:speaking@relatioanlitybook.org">speaking@relationalitybook.com</a></p>
                    <p>For support in building your organization's relational data practice, please see <a href="relationalitylab.org">Relationality Lab</a>.</p>
                    <p>For all other requests, please contact: <a href="mailto:speaking@relatioanlitybook.org">hello@relationalitybook.com</a></p>
                </div>
            </div>
            <div id="contactThanks" style="display:none" class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading text-white">Thanks!</h2>
                <hr class="light">
                <div class="text-white">We'll review your message and get back to you shortly.</div>
            </div>
        </div>
    </div>
</section>
