
<section id="organizing" class="bg-primary">
    <div class="container">
        <div class="row text-center text-white col-lg-10 col-lg-offset-1">
            <h2>Events</h2>
            <hr class="light">
            <div class="text-left">
                <p><i>Relationality</i> is a call to action. We will face a mounting loneliness crisis and degrading democratic institutions so long as our most powerful institutions fail to recognize and resource relational work.</p>
                <p>To change that reality, readers of <i>Relationality</i> are invited to a series of conversations designed to connect those of us who share a vision for a more relational world.</p>
                <p>Events are held virtually, generally on the third Friday of every month at 3PM ET/1PM CT/12PM PT. More details will be made available after registration.</p>
                <p>To join these events, please fill out the following form:</p>
            </div>
        </div>
        <div id="organizingArea" class="row col-lg-10 col-lg-offset-1 text-center">
            <form id="organizingForm">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1">
                        <input type="email" class="form-control" name="email" placeholder="Email" data-umami-event="email-enter">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1">
                        <input type="text" class="form-control" name="firstname" placeholder="First name">
                        </div>
                        <div class="col-lg-5">
                        <input type="text" class="form-control" name="lastname"  placeholder="Last name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1">
                        <input type="text" class="form-control" name="organization"  placeholder="Organization">
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="role"  placeholder="Role">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <textarea class="form-control" name="comment" placeholder="Message (Optional)"></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-green" data-umami-event="contact-click">Register</button>
        </div>
        </form>
        </div>
        <div id="organizingThanks" style="display:none" class="col-lg-10 col-lg-offset-1 text-center">
            <h2 class="section-heading text-white">Thanks!</h2>
            <hr class="light">
            <div class="text-white">We'll send you information about upcoming events shortly.</div>
        </div>
    </div>
</section>

